<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="../public/stylesheets/style.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
        <a class="brand" href="/">DisCoS</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="spy override active"><a href="#intro">Myo</a></li>
              <li class="spy"><a href="#home">Home</a></li>
              <li class="spy"><a href="#about">About</a></li>
              <li class="spy"><a href="#idea">The Idea</a></li>
              <li class="spy"><a href="#method">The Method</a></li>
              <li class="spy"><a href="#implementation">The Implementation</a></li>
            </ul>
              <a class="nav-button btn btn-success pull-right" href="/use/robo"> Connect to DisCoS</a>
        </div>
    </div>
  </div>
</div>
<div id="body">
  <div class="container-fluid content">
    <div id="home" class="row-fluid divider">
      <div class="span6">
        <img id="header-img" class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
      </div>
      <div class="span6">
          <h3> Distributed Intelligence </h3>
      </div>
    </div>
    <div class="row-fluid divider">
      <div class="span6 box bordered">
        <center><h3>Watch the demo!</h3></center>
        <div class="video-container">
          <iframe class="center" width="504" height="283" src="http://www.youtube.com/embed/dpoVh9xwdD4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="span6 box bordered">
        <center><h3>Try it out!</h3></center>
        <p>Some filler text here...</p>
        <center><a class="btn btn-success btn-large btn-primary">Connect to DisCoS</a></center>
      </div>
    </div>
  </div>
  <div id="about" class="section-divider" >
    <div class="container-fluid">
      <p><center>ABOUT</center></p>
    </div>
  </div>
 <div class="container-fluid content">
    <div  class="row-fluid divider">
      <div class="span4 box bordered">
        <div class="container-fluid">
          <div class="row-fluid divider-small">
            <center><h2> The Idea </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
          </div>
          <div class="row-fluid">
            <h4>Point 1</h3> </br>
            <h4>Point 2</h3> </br>
            <h4>Point 3</h3> </br>
          </div>
        </div>
      </div>
      <div class="span4 box bordered">
        <div class="container-fluid">
          <div class="row-fluid divider-small">
            <center><h2> The Idea </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
          </div>
          <div class="row-fluid">
            <h4>Point 1</h3> </br>
            <h4>Point 2</h3> </br>
            <h4>Point 3</h3> </br>
          </div>
        </div>
      </div>
      <div class="span4 box bordered">
        <div class="container-fluid">
          <div class="row-fluid divider-small">
            <center><h2> The Idea </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
          </div>
          <div class="row-fluid">
            <h4>Point 1</h3> </br>
            <h4>Point 2</h3> </br>
            <h4>Point 3</h3> </br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="idea" class="section-divider" >
    <div class="container-fluid">
      <p><center>THE IDEA</center></p>
    </div>
  </div>
 <div class="container-fluid content">
    <div  class="row-fluid divider">
      <div class="span6 box">
        <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
      </div>
      <div class="span6 box">
        <p>
          <h3> Distributed Intelligence </h3>
          <h3> Hivemind Framework </h3>
          <h3> More Filler </h3>
        </p>
      </div>
    </div>
    <div  class="row-fluid divider">
      <div class="span4 box bordered">
        <div class="container-fluid">
          <div class="row-fluid divider-small">
            <center><h2> The Idea </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
          </div>
          <div class="row-fluid">
            <h4>Point 1</h3> </br>
            <h4>Point 2</h3> </br>
            <h4>Point 3</h3> </br>
          </div>
        </div>
      </div>
      <div class="span4 box bordered">
        <div class="container-fluid">
          <div class="row-fluid divider-small">
            <center><h2> The Idea </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
          </div>
          <div class="row-fluid">
            <h4>Point 1</h3> </br>
            <h4>Point 2</h3> </br>
            <h4>Point 3</h3> </br>
          </div>
        </div>
      </div>
      <div class="span4 box bordered">
        <div class="container-fluid">
          <div class="row-fluid divider-small">
            <center><h2> The Idea </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
          </div>
          <div class="row-fluid">
            <h4>Point 1</h3> </br>
            <h4>Point 2</h3> </br>
            <h4>Point 3</h3> </br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="method" class="section-divider" >
    <div class="container-fluid">
      <p><center>THE METHOD</center></p>
    </div>
  </div>
  <div class="container-fluid content">
    <div  class="row-fluid divider">
      <div class="span6 box">
        <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
      </div>
      <div class="span6 box">
        <p>
          <h3> Distributed Intelligence </h3>
          <h3> Hivemind Framework </h3>
          <h3> More Filler </h3>
        </p>
      </div>
    </div>
    <div  class="row-fluid divider">
      <div class="span4 box bordered">
        <div class="container-fluid">
          <div class="row-fluid divider-small">
            <center><h2> The Idea </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
          </div>
          <div class="row-fluid">
            <h4>Point 1</h3> </br>
            <h4>Point 2</h3> </br>
            <h4>Point 3</h3> </br>
          </div>
        </div>
      </div>
      <div class="span4 box bordered">
        <div class="container-fluid">
          <div class="row-fluid divider-small">
            <center><h2> The Idea </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
          </div>
          <div class="row-fluid">
            <h4>Point 1</h3> </br>
            <h4>Point 2</h3> </br>
            <h4>Point 3</h3> </br>
          </div>
        </div>
      </div>
      <div class="span4 box bordered">
        <div class="container-fluid">
          <div class="row-fluid divider-small">
            <center><h2> The Idea </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
          </div>
          <div class="row-fluid">
            <h4>Point 1</h3> </br>
            <h4>Point 2</h3> </br>
            <h4>Point 3</h3> </br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="implementation" class="section-divider" >
    <div class="container-fluid">
      <p><center>THE IMPLEMENTATION</center></p>
    </div>
  </div>
 <div class="container-fluid content">
    <div  class="row-fluid divider">
      <div class="span6 box">
        <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
      </div>
      <div class="span6 box">
        <p>
          <h3> Distributed Intelligence </h3>
          <h3> Hivemind Framework </h3>
          <h3> More Filler </h3>
        </p>
      </div>
    </div>
    <div  class="row-fluid divider">
      <div class="span4 box bordered">
        <div class="container-fluid">
          <div class="row-fluid divider-small">
            <center><h2> The Idea </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
          </div>
          <div class="row-fluid">
            <h4>Point 1</h3> </br>
            <h4>Point 2</h3> </br>
            <h4>Point 3</h3> </br>
          </div>
        </div>
      </div>
      <div class="span4 box bordered">
        <div class="container-fluid">
          <div class="row-fluid divider-small">
            <center><h2> The Idea </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
          </div>
          <div class="row-fluid">
            <h4>Point 1</h3> </br>
            <h4>Point 2</h3> </br>
            <h4>Point 3</h3> </br>
          </div>
        </div>
      </div>
      <div class="span4 box bordered">
        <div class="container-fluid">
          <div class="row-fluid divider-small">
            <center><h2> The Idea </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="big-image" src="http://discos.herokuapp.com/images/Disco_logo.png" />
          </div>
          <div class="row-fluid">
            <h4>Point 1</h3> </br>
            <h4>Point 2</h3> </br>
            <h4>Point 3</h3> </br>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
</div>


</body>
</html>


