<!DOCTYPE html>
<html>
	<head>
		<title>DisCoS</title>
		<link rel="shortcut icon" href="Favicon.ico">
		<link rel= "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css"/>
		<link rel= "stylesheet" type = "text/css" href = "/stylesheets/style.css"/>
		
	</head>
	
	<body>
	<nav>
			<div class = "navbar">
				<div class = "navbar-inner">
					<a class = "brand" > DisCoS </a>
					<ul class = "nav">
						<li class = "active"> <a href = "/"> Home </a></li>
						<li> <a href = "/info/dcs"> About DSC </a></li>
						<li> <a href = "/info/tnt"> TNT</a></li>
						<li> <a href = "/info/dotbot">.bot </a></li>
						<li> <a href = "/use/select"> Use DisCo </a></li>
					</ul>
				</div>
			</div>
						
				<p>	
						 <button class="btn btn-large btn-primary" type="button">Connect</button>
				</p>
		</nav>
		
		<div id = "masthead">
			<div class = "textbox">
				<h1> Keep connected.</h1>
				<p> An educational platform, which promotes computer science, engineering and apce amongst kids. Kids are practically able to create their own mindstorms (running our custom firmware). The midstorm "talks" to an Android phone, which acts like a bridge, which is constantly pinging our server. </p>
			</div>
			<div class = "dotbotlogo">
				<img src = "/images/Dot_bot_logo.png">
			</div>
		</div>
		<div id = "icons" class = "row">
  			<img src = "/images/Dot_bot_graphic_4.png" height = "200"/>
		</div>
		<div id = "description" class = "row">
  			<div class="span4"> 
  				<h3> Stored as json object </h3>
  				<ul>
  					<li> Everything operates in sync </li>
  					<li> Perfect /information across the network. </li>
  					<li> Low network ("need to know" basis) </li>
  				</ul>
  			</div>
  			
  			<div class="span4"> 
  				<h3> Never crash system </h3>
  					<ul>
  						<li> Live single command and response </li>
  						<li> Rewrite operating code on the fly </li> 
  					</ul>
  			</div>
  			
  			<div class="span4">
  				<h3> Dynamically rebuilt on fly </h3>
  					<ul>
  						<li> Continue if connection is lost </li>
  						<li> Can be rewired on the fly </li>
  					</ul>
  			</div>
		</div>
			
	</body>
</html>