<!DOCTYPE html>
<html>
	<head>
		<title>DisCo</title>
	
		<link rel= "stylesheet" type = "text/css" href = "stylesheets/bootstrap.css"/>
		<link rel= "stylesheet" type = "text/css" href = "stylesheets/style.css"/>
		
	</head>
	
	<body>
	<nav>
			<div class = "navbar">
				<ul class = "nav">
					<li class = "active">
						<a href = "info/about"> Home </a>
					</li>
					<li> <a href = "info/dcs"> About DSC </a></li>
					<li> <a href = "info/tnt"> TNT</a></li>
					<li> <a href = "info/dotbot">.bot </a></li>
					<li> <a href = "use/select"> Use DisCo </a></li>
					
				</ul>		
				<p>	
						<button class="btn" type="button">Logout</button>	
						<button class="btn btn-primary" type="button">Login</button>
				</p>
		</nav>
		
		<div id = "masthead">
			
				<div class = "textbox">
					<h1> Catchphrase here </h1>
					<p> Here is a short description about the Distributed Control System, made by Moiri Gamboni, Soichiro Hattori, Rodrigo Ceballos, Oleg Grishin, and LingLiang Zhang. Here is a short description about the Distributed Control System. </p>
				</div>
		
			<div class = "logo">
				<img src = "images/Disco_logo.png">
			</div>
			
		</div>
		<div id = "viewdemo">
				<button class="btn btn-large btn-primary" type="button">View Demo</button>
		</div>
		
		<div id = "tagline" >
			<h3> We built three technologies to make this possible: </h3>
		</div>	
		<div id = "titles" class="row">
			<div class="span2"><h4>DisCo</h4></div>
			<div class="span2 offset1"></div>
			<div class="span2"><h4>TNT</h4></div>
			<div class="span2 offset1"></div>
			<div class="span2"><h4>.bot</h4></div>
		</div>
		<div id = "icons" class = "row">
  			<div class="span2"><a href="info/dcs"><img src="images/DCS.png" height= "200"/></a></div>
  			<div class="span2 offset1"></div>
  			<div class="span2"><a href="info/tnt"><img src = "images/TNT_logo.png"/></a></div>
  			<div class="span2 offset1"></div>
  			<div class="span2"><a href="info/dotbot"><img src = "images/Dot_bot_logo.png" ></a></div>
		</div>
	</body>
</html>