<!DOCTYPE html>
<html>
	<head>
		<title>DisCo</title>
	
			<link rel= "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css"/>
		<link rel= "stylesheet" type = "text/css" href = "/stylesheets/style.css"/>
		
	</head>
	
	<body>
	<nav>
			<div class = "navbar">
				<ul class = "nav">
					<li class = "active">
						<a href = "/"> Home </a>
					</li>
					<li> <a href = "/info/dcs"> About DSC </a></li>
					<li> <a href = "/info/tnt"> TNT</a></li>
					<li> <a href = "/info/dotbot">.bot </a></li>
					<li> <a href = "/use/select"> Use DisCo </a></li>
					
				</ul>		
				<p>	
						<button class="btn" type="button">Logout</button>	
						<button class="btn btn-primary" type="button">Login</button>
				</p>
		</nav>
		
		<div id = "masthead">
			<div class = "textbox">
				<h1> Keep connected.</h1>
				<p> Here is a short description about the Distributed Control System, made by Moiri Gamboni, Soichiro Hattori, Rodrigo Ceballos, Oleg Grishin, and LingLiang Zhang. Here is a short description about the Distributed Control System. </p>
			</div>
			<div class = "dotbotlogo">
				<img src = "/images/Dot_bot_logo.png">
			</div>
		</div>
		<div id = "icons" class = "row">
  			<img src = "/images/Dot_bot_graphic_4.png" height = "200"/>
		</div>
		<div id = "description" class = "row">
  			<div class="span4"> 
  				<h3> Stored as json object </h3>
  				<ul>
  					<li> Everything operates in sync </li>
  					<li> Perfect /information across the network. </li>
  					<li> Low network ("need to know" basis) </li>
  				</ul>
  			</div>
  			
  			<div class="span4"> 
  				<h3> Never crash system </h3>
  					<ul>
  						<li> Live single command and response </li>
  						<li> Rewrite operating code on the fly </li> 
  					</ul>
  			</div>
  			
  			<div class="span4">
  				<h3> Dynamically rebuilt on fly </h3>
  					<ul>
  						<li> Continue if connection is lost </li>
  						<li> Can be rewired on the fly </li>
  					</ul>
  			</div>
		</div>
			
	</body>
</html>