<!DOCTYPE html>
<html>
	<head>
		<title>DisCo</title>
	
		<link rel= "stylesheet" type = "text/css" href = "stylesheets/bootstrap.css"/>
		<link rel= "stylesheet" type = "text/css" href = "stylesheets/style.css"/>
		
	</head>
	
	<body>
	<nav>
			<div class = "navbar">
				<ul class = "nav">
					<li class = "active">
						<a href = "info/about.html"> Home </a>
					</li>
					<li> <a href = "info/dcs.html"> About DSC </a></li>
					<li> <a href = "info/tnt.html"> TNT</a></li>
					<li> <a href = "info/dotbot.html">.bot </a></li>
					<li> <a href = "use/select.html"> Use DisCo </a></li>
					
				</ul>		
				<p>	
						<button class="btn" type="button">Logout</button>	
						<button class="btn btn-primary" type="button">Login</button>
				</p>
		</nav>
		
		
	<video width="640" height="480" controls autoplay>
  		<source src="movie.ogg" type="video/ogg">
  		<source src="movie.mp4" type="video/mp4">
 		 <source src="movie.webm" type="video/webm">
  		<object data="movie.mp4" width="320" height="240">
   		 <embed width="320" height="240" src="movie.swf">
  		</object>
	</video>
	
	<div id = "icons">
  			<img src = "DSC_graphic_6.png"/>
	</div>
	<div id = "description" class = "row">
  			<div class="span4"> 
  				<h3> Always in sync. </h3>
  				<ul>
  					<li> Everything operates in sync </li>
  					<li> Perfect information across the network. </li>
  					<li> Low network ("need to know" basis) </li>
  				</ul>
  			</div>
  			
  			<div class="span4"> 
  				<h3> Direct control </h3>
  					<ul>
  						<li> Live single command and response </li>
  						<li> Rewrite operating code on the fly </li> 
  					</ul>
  			</div>
  			
  			<div class="span4">
  				<h3> Autonomy </h3>
  					<ul>
  						<li> Continue if connection is lost </li>
  						<li> Can be rewired on the fly </li>
  					</ul>
  			</div>
		</div>
		<div id = "viewdemo">
			<button class="btn btn-large btn-primary" type="button">Use it now!</button>
		</div>
	</body>
</html>