<!DOCTYPE html>
<html>
	<head>
		<title>DisCoS</title>
		<link rel="shortcut icon" href="Favicon.ico">
		<link rel= "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css"/>
		<link rel= "stylesheet" type = "text/css" href = "/stylesheets/style.css"/>
		
	</head>
	
	<body>
	<nav>
			<div class = "navbar">
				<div class = "navbar-inner">
					<a class = "brand" > DisCoS </a>
					<ul class = "nav">
						<li class = "active"> <a href = "/"> Home </a></li>
						<li> <a href = "/info/dcs"> About DSC </a></li>
						<li> <a href = "/info/tnt"> TNT</a></li>
						<li> <a href = "/info/dotbot">.bot </a></li>
						<li> <a href = "/use/select"> Use DisCo </a></li>
					</ul>
				</div>
			</div>
						
				<p>	
						 <button class="btn btn-large btn-primary" type="button">Connect</button>
				</p>
		</nav>
		
		<div id = "masthead">
			
				<div class = "textbox">
					<h1> Start coding. </h1>
					<p> An educational platform, which promotes computer science, engineering and space amongst kids. Kids are practically able to create their own mindstorms (running our custom firmware). The mindstorm "talks" to an Android phone, which acts like a bridge, which is constantly pinging our server. Our server serves the child a javascript interpreter, where they program in a pseudo-python-turtle type language so they can learn about defining methods, loops and conditionals. The code children write is live: when a child writes "fd(w)", the robot immediately starts moving forward for 2 seconds.</p>
				</div>
		
			<div class = "logo">
				<img src = "/images/Disco_logo.png">
			</div>
			
		</div>
		<div id = "viewdemo">
				<button class="btn btn-large btn-primary" type="button">View Demo</button>
		</div>
		
		<div id = "tagline" >
			<h3> We built three technologies to make this possible: </h3>
		</div>	
		<div id = "titles" class="row">
			<div class="span2"><h4>DisCo</h4></div>
			<div class="span2 offset1"></div>
			<div class="span2"><h4>TNT</h4></div>
			<div class="span2 offset1"></div>
			<div class="span2"><h4>.bot</h4></div>
		</div>
		<div id = "icons" class = "row">
  			<div class="span2"><a href="/info/dcs"><img src="/images/DCS.png" height= "200"/></a></div>
  			<div class="span2 offset1"></div>
  			<div class="span2"><a href="/info/tnt"><img src = "/images/TNT_logo.png"/></a></div>
  			<div class="span2 offset1"></div>
  			<div class="span2"><a href="/info/dotbot"><img src = "/images/Dot_bot_logo.png" ></a></div>
		</div>
	</body>
</html>