<!DOCTYPE html>
<html>
	<head>
		<title>DisCo</title>
			<link rel= "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css"/>
			<link rel= "stylesheet" type = "text/css" href = "/stylesheets/style.css"/>
	</head>
	
	<body>
	<nav>
			<div class = "navbar">
				<ul class = "nav">
					<li class = "active">
						<a href = "/"> Home </a>
					</li>
					<li> <a href = "/info/dcs"> About DSC </a></li>
					<li> <a href = "/info/tnt"> TNT</a></li>
					<li> <a href = "/info/dotbot">.bot </a></li>
					<li> <a href = "/use/select"> Use DisCo </a></li>
					
				</ul>		
				<p>	
						<button class="btn" type="button">Logout</button>	
						<button class="btn btn-primary" type="button">Login</button>
				</p>
		</nav>
		
	
	<div id = "livestream">
		<video width="320" height="240" controls autoplay>
			<source src="movie.ogg" type="video/ogg">
			<source src="movie.mp4" type="video/mp4">
			 <source src="movie.webm" type="video/webm">
			<object data="movie.mp4" width="320" height="240">
			 <embed width="320" height="240" src="movie.swf">
			</object>
		</video>
	</div>
	<div id = "userinput">
		<textarea rows="12"></textarea>
	</div>
	<div id = "console">
		<input class="input-xxlarge" type="text" placeholder="Console is here">
	</div>
	