<!DOCTYPE html>
<html>
	<head>
		<title>DisCo</title>
	
			<link rel= "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css"/>
			<link rel= "stylesheet" type = "text/css" href = "/stylesheets/style.css"/>
	</head>
	
	<body>
	<nav>
			<div class = "navbar">
				<ul class = "nav">
					<li class = "active">
						<a href = "/info/about"> Home </a>
					</li>
					<li> <a href = "/info/dcs"> About DSC </a></li>
					<li> <a href = "/info/tnt"> TNT</a></li>
					<li> <a href = "/info/dotbot">.bot </a></li>
					<li> <a href = "/use/select"> Use DisCo </a></li>
					
				</ul>		
				<p>	
						<button class="btn" type="button">Logout</button>	
						<button class="btn btn-primary" type="button">Login</button>
				</p>
		</nav>
		

	
		<div id = "robottitle">
			<h2> Choose your own robot! </h2>
		</div>
		<div id = "robot/images" class = "row">
		
			<ul class="thumbnails">
			  <li class="span4">
				<div class="thumbnail">
				  <a href = "use/robo"><img src="/images/imgres.jpeg" alt=""></a>
				  <h3>Robot 1</h3>
				  <p>Thumbnail caption...</p>
				</div>
			  </li>
			<li class="span4">
				<div class="thumbnail">
				  <a href = "use/robo"><img src="/images/robot_greeting_1.jpg" alt=""></a>
				  <h3>Robot 2</h3>
				  <p>Thumbnail caption...</p>
				</div>
			  </li>
			  <li class="span4">
				<div class="thumbnail">
				  <a href = "use/robo"><img src="/images//images.jpeg" alt=""></a>
				  <h3>Robot 3</h3>
				  <p>Thumbnail caption...</p>
				</div>
			  </li>
	</ul>
  		