<!DOCTYPE html>
<html>
	<head>
		<title>DisCoS</title>
		<link rel="shortcut icon" href="Favicon.ico">
		<link rel= "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css"/>
		<link rel= "stylesheet" type = "text/css" href = "/stylesheets/style.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/editor.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/codemirror.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/global_styles.css" />
		<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/javascripts/codemirror.js"></script>
		<script type="text/javascript" src="/javascripts/tnt.js"></script>
		<script type="text/javascript" src="/javascripts/placeholder.js"></script>
		<script type="text/javascript" src="/javascripts/editor.js"></script>
		<script type="text/javascript" src="/javascripts/syntax.js"></script>
		<script type="text/javascript" src="/javascripts/parser.js"></script>
		<script type="text/javascript" src="/javascripts/main.js"></script>
	</head>
	
	<body>
	<nav>
			<div class = "navbar">
				<div class = "navbar-inner">
					<a class = "brand" > DisCoS </a>
					<ul class = "nav">
						<li class = "active"> <a href = "/"> Home </a></li>
						<li> <a href = "/info/dcs"> About DSC </a></li>
						<li> <a href = "/info/tnt"> TNT</a></li>
						<li> <a href = "/info/dotbot">.bot </a></li>
						<li> <a href = "/use/select"> Use DisCo </a></li>
					</ul>
					<a href="/use/robo" id="login" class="nav-button btn btn-success pull-right">Connect to DisCoS</a>				
				</div>
			</div>		
		</nav>
		
	<div id = "texteditor">
		<p class="center">Start writing your code here:</p>
			<textarea id="editor" name="editor" placeholder="Start programming here.."></textarea>
			<div id="controls" class="left">
				<button class="btn btn-large btn-primary" type="button">Compile!</button>
					<!--
					<textarea id="search" rows=1></textarea>
					<button type="button" id="find">Find</button>
					<button type="button" id="next">Next</button>
					<button type="button" id="prev">Previous</button>
					-->
					<textarea rows="1" cols="100" id="status"></textarea>
			</div>
	</div>
