<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="../public/stylesheets/style.css" rel="stylesheet">
    <link href="../public/stylesheets/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
        <a class="brand" href="/">DisCoS</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="spy override active"><a href="#intro">Myo</a></li>
              <li class="spy"><a href="#home">Home</a></li>
              <li class="spy"><a href="#about">About</a></li>
              <li class="spy"><a href="#idea">The Idea</a></li>
              <li class="spy"><a href="#method">The Method</a></li>
              <li class="spy"><a href="#implementation">The Implementation</a></li>
            </ul>
              <a class="nav-button btn btn-success pull-right" href="/use/robo"> Connect to DisCoS</a>
        </div>
    </div>
  </div>
</div
<div class="container-fluid content">
    <div  class="row-fluid divider">
      <div class="span4 box bordered description">
        <div class="container-fluid">
          <div class="row-fluid divider-small">
            <center><h2> The Idea </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="center" src="http://discos.herokuapp.com/images/Disco_logo.png" />
          </div>
      </div>
      <div class="span4 box bordered description">
        <div class="container-fluid">
          <div class="row-fluid divider-small ">
            <center><h2> The Method </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="center" src="http://discos.herokuapp.com/images/Dot_bot_logo.png" />
          </div>
          <div class="row-fluid">
            <h4>Stored as json object</h4> </br>
            <h4>Never crashes system</h3> </br>
            <h4>Revise on the fly</h3> </br>
          </div>
        </div>
      </div>
      <div class="span4 box bordered description">
        <div class="container-fluid">
          <div class="row-fluid divider-small">
            <center><h2> The Implementation </h2></center>
          </div>
          <div class="row-fluid divider-small">
            <img class="center" src="http://discos.herokuapp.com/images/TNT_logo.png" />
          </div>
          <div class="row-fluid">
            <h4>Full programming language</h3> </br>
            <h4>Define own functions and loops </h3> </br>
            <h4>Push robots, not pixels </h3> </br>
          </div>
        </div>
      </div>
    </div>
  </div>