body{
	height: 1500px;
	margin: 0px 20px 20px 0px;
}


#masthead{
position:relative;
top: 70px;
height:400px;
margin: auto;
width: 1024px;

}

.textbox{
	position:absolute;
	top: 90px;
	left: 650px;
	line-height: 30px;
	width:300px;
	
	
}


.logo{
	position:absolute;
	left: 100px;
	top: 80px;
	width: 381px;
	height: 262px;
}
.dotbotlogo {
	position:absolute;
	left: 100px;
	top: 140px;
	
}

nav ul li{
	margin: 0px 60px 0px;
	width: 100px;
	text-align: center;
}


button {
	position: relative;
	float:right;
	right: 100px;
	
}

#viewdemo{
	position: relative;
	top: 80px;
	float:left;
	left: 780px;
}
#tagline {
	position: relative;
	top: 180px;
	margin-right:200px;
	margin-left:300px;
	text-align: center;
}
#titles {
	position: relative;
	top: 250px;
	margin-right:50px;
	margin-left:150px;
	
	
}

#icons {
	position: relative;
	top: 80px;
	margin: 10px;

	text-align: center;
}

#HALicons {

	position: relative;
	top: 150px;
	margin: 120px;
	text-align: center;
}

#description {
	position:relative;
	top: 40px;
}

#description h3 {

	position: relative;
	top: 100px;
	left: 180px;
	width:300px;
	text-align:center;
}

#description ul li {
	position: relative;
	top: 100px;
	left: 150px;
	width: 300px;
	margin: 0px 20px 0px;
	text-align: left;
	font-size: 20px;
	line-height: 30px;
}



.row {
	height: 300px;
	line-height:300px;
}

.span2{
	height: 150px;
	text-align:center;
	margin: 0px 35px 0px;	
	
}

#icons img {
	margin:0px 50px 50px 70px;
}
.span3{ 
	text-align: center;
	margin: 0px -20px 0px;
	width: 300px;
}

.span4 {
	text-align: center;
	margin: 0px 40px 0px;
	width: 300px;
}
video {
	position: relative;
	top: 100px;
	left: 350px;
	
}

#robottitle{
	position:relative;
	top:70px;
	left: 35%;
	float:left;
	text-align: center;
}
#robot/images {
	position:relative;
	float:left;
	margin:auto;
	
	left: 50px;
	top: 100px;
	
}


#livestream  {
	position:relative;
	float:left;
	top: 100px;
	
	
}

#userinput {
	position:relative;
	top:100px;
	float:right;
	right: 350px;
}

#console {
	position:relative;
	top: 200px;
	left: 350px;
	
}

.thumbnail{
	float: left;
	position: relative;
	left: -200px;
	top: 200px;
}

#texteditor {
	position:relative;
	top: 100px;
	margin: 0px 20px 20px 20px;
}